# 구글 인증 파일 무시
rising-method-427516-j3-e5b9ebe21c9b.json

# .vscode 디렉토리 무시
.vscode/

# feedback_data.json 파일 무시
feedback_data.json

# output.wav 파일 무시
output.wav

# speech_recognition_model.h5 파일 무시
speech_recognition_model.h5

# tempCodeRunnerFile.py 파일 무시
tempCodeRunnerFile.py